<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			 connectionString="Host=dpg-d08rgkh5pdvs739qf7t0-a.oregon-postgres.render.com;Port=5432;Database=db_control_estudiantes_kxoh;Username=admin;Password=OgTGjX7QvgjxumpbAsV3MBqKKIy9XTqU;SSL Mode=Require;Trust Server Certificate=true;"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>